/*** ALL DEVICES' VARIABLES ***/

/* Typography & More */
$site-font-family: 'Roboto', sans-serif;
$font-weight-bold: bold;

/* Colour Schemes */
$background-color: #FFFFFF;
$background-color-input: #F8F8F8;
$border: 1px solid #D4D4D4;
$color:#495D09;
$color-input: #8E8585;
$logout-button: #F3F3F3;

/* Media Queries */
$mobile-max-width: 800px;
$desktop-min-width: 800px;